body
{
    font-family: Arial, Helvetica, sans-sertif;
    font-size: 16px;
    line-height: 1.6em;

    margin: 0;

    color: #555;
    background-color: #f4f4f4;
}

.container
{
    overflow: hidden;

    width: 80%;
    margin: auto;
}

.column 
{
    float: left;
    width: 33.33%;
    /* margin: 10px; */
    background-color: darkgray;
}
  
/* Clear floats after the columns */
.row:after 
{
content: "";
display: table;
clear: both;
}

#main-header
{
    padding-top: 1em;

    color: #fff;
    background-color: #117fedff;
    /*padding-bottom: 0px;*/
}

#navbar
{
    color: #fff;
    background-color: #123456ff;
}

#navbar ul
{
    padding: 0;

    list-style: none;
}

#navbar li
{
    display: inline;
}

#navbar a
{
    font-size: 18px;
    font-weight: bold;

    padding-right: 15px;

    text-decoration: none;

    color: #fff;
}

#navbar a:hover
{
    color: #fff77;
}

#navbar a:visited
{
    color: #fff;
}

#navbar a:active
{
    color: #fff33;
}

#introduction
{
    font-weight: bold;
    /*font-size: 18px;*/
}


#detail a
{
    font-size: 25px;

    text-decoration: none;

    color: #555;
}

#main-footer
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    margin-top: 40px;

    text-align: center;

    color: #fff;
    background-color: #123456ff;
}
