body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-sertif;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;
}

.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: #117FEDFF;
	color: #fff;
	padding-top: 1em;	
	/*padding-bottom: 0px;*/
}

#navbar{
	background-color: #123456FF;
	color: #fff;

}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;

}

#navbar a{
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#navbar a:hover{
	color: #ffffff77;
}

#navbar a:visited{
	color: #fff;
}

#navbar a:active{
	color: #ffffff33;
}

#introduction{
	font-weight: bold;
	/*font-size: 18px;*/
}


#detail a{
	text-decoration: none;
	color: #555;
	font-size: 25px;
}

#main-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #123456FF;
	color: #fff;
	text-align: center;
	margin-top: 40px;
}

